@page "/abroad_passport"
@inject IJSRuntime js
@inject NavigationManager nm

<div style="display: grid; ">

    <div class="title" style="justify-self: center;">

        <h3 style="color: #548CF6; font-family: 'Montserrat', sans-serif;
     text-align: center; font-weight: bolder; margin-top: 40px; ">
            Запишитесь на прием в паспортный стол <br>для подачи заявления на загранпаспорт
        </h3>

    </div>

    <div style="justify-self:center;">
        <ServicesTable ServiceType="Вид услуги"
                       ServiceDate="Дата и время записи"
                       Acception="Подтверждение"
                       ServiceTypeConcrete="@ServiceTypeConcrete"
                       AppointmentDate="@Appointment"
                       UserLogin="@UserLogin" 
                       />
    </div>

    

</div>

@code
{
    public static string ServiceTypeConcrete = "Подача заявления на получение загранпаспорта";
    public static DateTime Appointment = DateTime.Now;
    LocalStorageService storage;
    public static string UserLogin;


    public async void LocalStorageLoadLogin()
    {
        UserLogin = await storage.GetStringAsync("key-login");
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        storage = new LocalStorageService(js);
        LocalStorageLoadLogin();
    }    
}
