@page "/drive_school"
@inject IJSRuntime js

<div style="display: grid; ">

    <div class="title" style="justify-self: center;">

        <h3 style="color: #548CF6; font-family: 'Montserrat', sans-serif;
     text-align: center; font-weight: bolder; margin-top: 40px; ">
            Подайте заявление на обучение вождению
        </h3>

    </div>

    <div style="justify-self:center;">
        <ServicesTable ServiceType="Вид услуги"
                       ServiceDate="Дата и время записи"
                       Acception="Подтверждение"
                       ServiceTypeConcrete="@ServiceTypeConcrete"
                       AppointmentDate="@Appointment"
                       UserLogin="@UserLogin" />
    </div>

</div>

@code {
    public static string ServiceTypeConcrete = "Запись в автошколу";
    public static DateTime Appointment = DateTime.Now;
    LocalStorageService storage;
    public static string UserLogin;

    public async void LocalStorageLoadLogin()
    {
        UserLogin = await storage.GetStringAsync("key-login");
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        storage = new LocalStorageService(js);
        LocalStorageLoadLogin();
    }
}
