@page "/authorization"
@inject IJSRuntime js

<div class="registration">
    <div></div>

    <div class="on_border">
        <div class="border">

            <div class="title_reg">
                <div><h1>Вход в личный кабинет</h1></div>
                <div><span>Пожалуйста, введите номер телефона и пароль</span></div>
            </div>

            <div class="autho_field_list">
                <li><input @bind-value="PhoneNumber" class="field" type="text" maxlength="20" placeholder="Номер телефона / Логин" required></li>
                <li><input @bind-value="Password" class="field" type="text" maxlength="20" placeholder="Пароль" required></li>
            </div>

            <div class="reg_button">
                <div><a @onclick="AuthorizeAndStorage" href="/account">Вход в личный кабинет</a></div>
            </div>

        </div>
    </div>

    <div></div>
</div>

@code {
    public string PhoneNumber { get; set; }
    public string Password { get; set; }
    public User MyUser { get; set; }
    LocalStorageService storage;

    public void AuthorizeAndStorage()
    {
        Authorize();
        LocalStorageSave();
    }

    public void Authorize()
    {
        MyUser = User.Authorization(PhoneNumber, Password, MyUser);
    }

    protected override void OnInitialized()
    {
        storage = new LocalStorageService(js);
    }

    public async void LocalStorageSave()
    {
        await storage.SetStringAsync("key", MyUser.FirstName);
    }

    //public async void LocalStorageLoad()
    //{
    //    str1 = await storage.GetStringAsync("number");
    //    StateHasChanged();
    //}
}
