@page "/"

<div class="title">Наши услуги</div>
<div class="serv vax"><a class="service_button" href="#">Запись на вакцинацию<br>от COVID-19</a><img class="img_serv" src="/icons/vax.svg"> </div>
<div class="serv medicine"><a class="service_button" href="#">Запись к врачу</a><img class="img_serv" src="/icons/medicine.svg"></div>
<div class="serv driving"><a class="service_button" href="#">Запись в автошколу</a><img class="img_serv" src="/icons/car.svg"></div>
<div class="serv pay_fine"><a class="service_button" href="#">Оплатить штраф ПДД</a><img class="img_serv" src="/icons/policeman.svg"></div>
<div class="serv school"><a class="service_button" href="#">Запись ребенка в школу<br>или детский сад</a><img class="img_serv" src="/icons/school.svg"></div>
<div class="serv passport"><a class="service_button" href="#">Подать заявку на<br>получение загранпаспорта</a><img class="img_serv" src="/icons/passport.svg"></div>
