@page "/registration"

<div class="registration">
    <div></div>

    <div class="on_border">
        <div class="border">

            <div class="title_reg">
                <div><h1>Регистрация</h1></div>
                <div><span>Пожалуйста, заполните все поля</span></div>
            </div>

            <div class="field_list">
                <li><input class="field" type="text" maxlength="20" placeholder="Номер телефона / Логин" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Пароль" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Фамилия" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Имя" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Отчество" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Дата рождения" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Электронная почта" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Серия и номер паспорта" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Город проживания" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Улица" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Номер дома" required></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Номер квартиры"></li>
                <li><input class="field" type="text" maxlength="20" placeholder="Номер медицинского полиса" required></li>
                <li><input class="field email" type="text" maxlength="20" placeholder="ИНН" required></li>
            </div>

            <div class="reg_button">
                <div><a href="#">Регистрация</a></div>
            </div>

        </div>
    </div>

    <div></div>
</div>

@code {

}
