@page "/registration"



    <div class="on_border">
        <div class="border">

            <div class="title_reg">
                <div><h1>Регистрация</h1></div>
                <div><span>Пожалуйста, заполните все поля</span></div>
            </div>

            <div class="field_list">
                <div><input @bind-value="PhoneNumber" class="field" type="text" maxlength="20" placeholder="Номер телефона / Логин" required></div>
                <div><input @bind-value="Password" class="field" type="text" maxlength="20" placeholder="Пароль" required></div>
                <div><input @bind-value="Surname" class="field" type="text" maxlength="20" placeholder="Фамилия" required></div>
                <div><input @bind-value="Name" class="field" type="text" maxlength="20" placeholder="Имя" required></div>
                <div><input @bind-value="Patronymic" class="field" type="text" maxlength="20" placeholder="Отчество" required></div>
            </div>

            <div class="reg_button">
                <div><a @onclick="RegistrToDB" href="#">Регистрация</a></div>
            </div>

        </div>
    </div>


@code {
    private string PhoneNumber { get; set; }
    private string Password { get; set; }
    private string Surname { get; set; }
    private string Name { get; set; }
    private string Patronymic { get; set; }

    public void RegistrToDB()
    {
        User.Registration(new User(Name, Surname, Patronymic, PhoneNumber, Password));
    }

}
