@inject IJSRuntime js

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr> <td>Фамилия</td> <td>still empty</td> </tr>
            <tr> <td>Имя</td> <td>@Name</td> </tr>
            <tr> <td>Отчество</td> <td>still empty</td> </tr>

            <tr> <td>Дата рождения</td> <td>still empty</td> </tr>
            <tr> <td>Полный адрес</td> <td>still empty</td> </tr>
            <tr> <td>Электронная почта</td> <td>still empty</td> </tr>

            <tr> <td>Номер телефона / Логин</td> <td>still empty</td> </tr>
            <tr> <td>Пароль</td> <td>still empty</td> </tr>
            <tr> <td>Паспорт</td> <td>still empty</td> </tr>

            <tr> <td>Полис</td> <td>still empty</td> </tr>
            <tr> <td>ИНН</td> <td>still empty</td> </tr>
            <tr> <td>СНИЛС</td> <td>still empty</td> </tr>
        </tbody>
    </table>
</div>

@code {
    public string Name { get; set; }
    public string Surname { get; set; }
    LocalStorageService storage;

    public async void LocalStorageLoadName()
    {
        Name = await storage.GetStringAsync("key");
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        storage = new LocalStorageService(js);
        LocalStorageLoadName();
    }
}
