@inherits LayoutComponentBase
<!-- ШАПКА -->

<div class="header">
    <NavBar/>
</div>


<!-- ОСНОВНАЯ ЧАСТЬ -->

<div class="main_part">
    <div></div>

    <div class="services">
        @Body
    </div>

    <div></div>
</div>


<!-- ФУТЕР -->

<div class="database">
    <div></div>

    <div class="db_ref">
        <GoToDB/>
    </div>

    <div></div>
</div>

<div class="footer">
    <div></div>

    <div class="footer_text">
        <h3 class="zag">Госуслуги в социальных сетях</h3>
    </div>

    <div class="soclinks">
        <ul class="soc">
            <li><a href="https://vk.com/gosuslugi" target="_blank"><img src="/icons/vk-gray.svg" class="vk" width="50px" height="50px"></a></li>
            <li target="_blank"><a href="https://ok.ru/gosuslugi" target="_blank"><img src="/icons/ok-gray.svg" width="50px" height="50px"></a></li>
            <li target="_blank"><a href="https://www.facebook.com/new.gosuslugi" target="_blank"><img src="/icons/facebook-gray.svg" width="50px" height="50px"></a></li>
            <li target="_blank"><a href="https://www.youtube.com/channel/UCSfb7em0J1GYXix2WjlFtkw" target="_blank"><img src="/icons/youtube-gray.svg" width="50px" height="50px"></a></li>
            <li target="_blank"><a href="https://t.me/gosuslugi" target="_blank"><img src="/icons/telegram-gray.svg" width="50px" height="50px"></a></li>
        </ul>
    </div>

    <div></div>
</div>