<div></div>

<div class="logo">
    <a href="/"><img src="/icons/gosuslugi_logo.svg" /></a>
</div>

<div class="header_menu">
    <ul class="header_refs">
        <li><a class="header_button" href="/account">Личный кабинет</a></li>
        <li><a class="header_button" href="/authorization">Вход</a></li>
        <li><a class="header_button" href="/registration">Регистрация</a></li>

    </ul>
</div>

<div></div>

@code {

}
