@inject IJSRuntime js
@inject NavigationManager nm
<div></div>

<div class="logo">
    <a href="/" style="color:white; text-decoration:none; font-weight:700; font-size:20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">НАРОДНЫЕ<br>УСЛУГИ</a>
</div>

<div class="header_menu">
    <ul class="header_refs">
        <li><a @onclick="OpenDeleteDialog" class="header_button" href="#">Личный кабинет</a></li>
        <li><a class="header_button" href="/authorization">Вход</a></li>
        <li><a class="header_button" href="/registration">Регистрация</a></li>

    </ul>
</div>

@if (DeleteDialogOpen)
{
    <ModalDialog Title="Вы не авторизованы"
                 Text="Чтобы войти в личный кабинет, пожалуйста, выполните авторизацию или зарегистрируйтесь"
                 ButtonText="Ок"
                 OnClose="@OnDeleteDialogClose">
    </ModalDialog>
}

<div></div>

@code {

    public bool DeleteDialogOpen { get; set; }

    private async Task OnDeleteDialogClose(bool accepted)
    {
        DeleteDialogOpen = false;
        StateHasChanged();
    }
    private void OpenDeleteDialog()
    {

        if (User.isAuthorized == true)
        {
            nm.NavigateTo("/account");
        }
        else
        {
            DeleteDialogOpen = true;
        }
        StateHasChanged();
    }
}
